@media (min-width: 319px) and (max-width: 480px) {
  /* !header */
  .header-container {
    max-width: 768px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 10px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 10px;
    position: relative;
  }
  .logo-div {
    max-width: 130px;
    height: 35px;
  }
  .navigation-container {
    display: none;
  }
  .navigation-container.navigation-for-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    row-gap: 20px;
    height: 100%;
  }
  .navigation-ul-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    row-gap: 20px;
  }
  .navigation-li-items:hover {
    -webkit-box-shadow: 5px 10px 5px #a53dff;
    box-shadow: 5px 10px 5px #a53dff;
    -webkit-transform: scale(1.001, 1.2);
    -ms-transform: scale(1.001, 1.2);
    transform: scale(1.001, 1.2);
  }
  .burgerbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 4px;
    background-color: #a53dff;
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .burgerbar-menu-lines {
    width: 50%;
    height: 2px;
    background-color: #ffffff;
  }
  .search-bar {
    width: 96%;
  }
  /* ! section #1 */
  .section-1-container {
    margin: 50px auto;
    max-width: 480px;
    width: 96%;
    height: 100%;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .section-1-container-left-div {
    row-gap: 24px;
  }
  .section-1-container-left-div-text-h1 {
    max-width: 480px;
    height: 100%;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
  }
  .section-1-container-left-div-text-p {
    height: 100%;
    text-align: center;
  }
  .section-1-container-left-div-text-button {
    width: 100%;
    height: 50px;
  }
  .section-1-container-left-div-text-button:hover {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .section-1-container-left-div-boxcontainer {
    grid-template-columns: repeat(auto-fill, 100%);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
  }
  .section-1-container-right-div {
    max-width: 480px;
  }
  /* ! section # 2 */
  .section-2-container {
    position: static;
    width: 96%;
    margin: 0 auto;
  }
  .section-2-container-top {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    row-gap: 20px;
  }
  .section-2-container-top-left {
    width: 100%;
    height: 100%;
  }
  .section-2-container-top-right {
    width: 100%;
    height: 100%;
    text-align: center;
    row-gap: 25px;
  }
  .section-2-container-top-right-h3 {
    height: 100%;
    font-size: 36px;
  }
  .section-2-container-top-right-middle {
    height: 100%;
    font-size: 16px;
    row-gap: 25px;
  }
  .section-2-container-top-right-middle-p1 {
    height: 100%;
  }
  .section-2-container-top-right-middle-p2 {
    height: 100%;
  }
  .section-2-container-top-right-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 16px;
    height: 100%;
    width: 100%;
  }
  .section-2-container-top-right-bottom-myproject {
    width: 100%;
    height: 40px;
  }
  .section-2-container-top-right-bottom-download-container {
    width: 100%;
    height: 40px;
  }
  .section-2-container-top-right-bottom-download {
    width: 100%;
  }
  .section-2-container-top-right-bottom-myproject:hover {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .section-2-container-top-right-bottom-download-container:hover {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  /* ! section # 2 bottom */
  .section-2-container-bottom {
    position: static;
    height: 100%;
  }
  .section-2-container-bottom-work-process {
    margin: 50px 0 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 50px;
    width: 100%;
    height: 100%;
  }
  .section-2-container-bottom-work-process-text {
    width: 100%;
    height: 100%;
    text-align: center;
    row-gap: 30px;
  }
  .section-2-container-bottom-work-process-text-h3 {
    width: 100%;
    height: 100%;
    font-size: 36px;
  }
  .section-2-container-bottom-work-process-text-Ppack {
    width: 100%;
    height: 100%;
    row-gap: 30px;
  }
  .section-2-container-bottom-work-process-text-Ppack-p1 {
    width: 100%;
    height: 100%;
  }
  .section-2-container-bottom-work-process-text-Ppack-p2 {
    height: 100%;
  }
  .section-2-container-bottom-work-process-cards {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-2-container-bottom-work-process-cards-right {
    margin-top: 20px;
    margin-bottom: 20px;
    row-gap: 20px;
  }
  .section-2-container-bottom-work-process-cards-left {
    row-gap: 20px;
  }
  .work-process-boxes-text-h3 {
    width: 100%;
    font-size: 18px;
  }
  /* ! section # 3 */
  .section-3 {
    margin-top: 0px;
  }
  .portfolio-container {
    margin: 50px auto 0;
    row-gap: 20px;
  }
  .portfolio-container-top {
    width: 96%;
    height: 100%;
    margin: 0 auto;
  }
  .portfolio-container-top-p {
    height: 100%;
    margin-bottom: 20px;
  }
  .portfolio-container-bottom-boxe-container {
    -ms-grid-columns: (minmax(200px, 96%)) [1];
    grid-template-columns: repeat(1, minmax(200px, 96%));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 20px;
  }
  .more-project-form {
    margin-bottom: 50px;
  }
  /* ! section # 5 */
  .section-5-container {
    width: 96%;
    margin: 3.125rem auto;
    /* background-color: lightgreen; */
  }
  .section-5-container-sliders {
    grid-template-columns: repeat(auto-fit, 100%);
    width: 96%;
    margin: 50 auto 0px;
  }
  /* ! section # 6 */
  .section-6-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
    -moz-column-gap: 1.25rem;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    width: 100%;
    margin: 0 auto;
  }
  .section-6-container-left-div {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    row-gap: 24px;
  }
  .section-6-container-left-div-top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-6-container-left-div-top-h3 {
    font-size: 2rem;
  }
  .section-6-container-right-div {
    margin-top: 50px;
    width: 96%;
    grid-template-columns: repeat(auto-fit, 100%);
    place-items: center;
    text-align: center;
  }
  /* ! section # 7 */
  .section-7-container {
    margin: 3rem auto;
    row-gap: 2rem;
  }
  .section-7-container-top-h2 {
    font-size: 2.5rem;
  }
  .section-7-container-top-p {
    font-size: 1rem;
  }
  .section-7-container-bottom {
    grid-template-columns: repeat(auto-fit, 45%);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* ! footer */
  .footer-container {
    position: static;
  }
  .footer-container-top {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 3rem;
  }
  .footer-container-top-left-contacts {
    margin: 0 auto;
  }
  .footer-soc-media {
    margin: 0 auto;
  }
  .footer-container-top-right {
    row-gap: 3rem;
  }
  .footer-container-bottom {
    position: static;
  }
  .footer-navigation-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .footer-navigation-container {
    margin: 3rem auto;
  }
  .footer-navigation-ul-items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navigation-a-items {
    font-size: 15px;
  }
  .footer-submit-button {
    width: 100%;
  }
  .footer-navigation-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .footer-navigation-container {
    margin: 3rem auto;
  }
  .footer-navigation-ul-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.125rem;
  }
  .footer-navigation-container-p {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (min-width: 481px) and (max-width: 768px) {
  /* !header */
  .header-container {
    max-width: 768px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 10px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 10px;
    position: relative;
  }
  .logo-div {
    max-width: 130px;
    height: 35px;
  }
  .navigation-container {
    display: none;
  }
  .navigation-container.navigation-for-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    row-gap: 20px;
    height: 100%;
  }
  .navigation-ul-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    row-gap: 20px;
  }
  .navigation-li-items:hover {
    -webkit-box-shadow: 5px 10px 5px #a53dff;
    box-shadow: 5px 10px 5px #a53dff;
    -webkit-transform: scale(1.001, 1.2);
    -ms-transform: scale(1.001, 1.2);
    transform: scale(1.001, 1.2);
  }
  .burgerbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 4px;
    background-color: #a53dff;
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .burgerbar-menu-lines {
    width: 50%;
    height: 2px;
    background-color: #ffffff;
  }
  /* !main */
  .section-1-container {
    max-width: 768px;
    width: 100%;
    height: 100%;
    margin: 50px auto 100px;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
  .section-1-container-left-div {
    row-gap: 24px;
  }
  .section-1-container-left-div-text-h1 {
    height: 100%;
    font-size: 38px;
    line-height: 50px;
  }
  .section-1-container-left-div-text-p {
    height: 100%;
    font-size: 16px;
    line-height: 16px;
  }
  .section-1-container-left-div-text-button {
    width: 100%;
    height: 40px;
    font-size: 18px;
  }
  .section-1-container-left-div-text-button:hover {
    -webkit-transform: scale(1.07, 1.07);
    -ms-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07);
  }
  .section-1-container-left-div-boxcontainer {
    grid-template-columns: repeat(auto-fill, 100%);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
    /* background-color: green; */
  }
  .section-1-container-left-div-box-h3 {
    font-size: 18px;
  }
  .section-1-container-left-div-box-p {
    font-size: 14px;
  }
  /* ! section # 2 */
  .section-2-container-top {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
  .section-2-container-top-left {
    width: 100%;
    height: 100%;
  }
  .section-2-container-top-left-img-div {
    height: 95%;
  }
  .section-2-container-top-right {
    width: 100%;
    height: 100%;
  }
  .section-2-container-top-right-h3 {
    height: 100%;
  }
  .section-2-container-top-right-middle {
    height: 100%;
    font-size: 16px;
  }
  .section-2-container-top-right-middle-p1 {
    height: 100%;
  }
  .section-2-container-top-right-middle-p2 {
    height: 100%;
  }
  .section-2-container-top-right-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 16px;
    height: 96px;
    width: 100%;
  }
  .section-2-container-top-right-bottom-myproject {
    width: 100%;
    height: 40px;
  }
  .section-2-container-top-right-bottom-myproject:hover {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .section-2-container-top-right-bottom-download-container {
    width: 100%;
    height: 40px;
  }
  .section-2-container-top-right-bottom-download {
    width: 100%;
  }
  .section-2-container-top-right-bottom-download-container:hover {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  /* ! section # 2 bottom */
  .section-2-container-bottom {
    height: 100%;
  }
  .section-2-container-bottom-work-process {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 60px;
    margin: 150px auto;
    text-align: center;
  }
  .section-2-container-bottom-work-process-text {
    width: 100%;
    row-gap: 20px;
  }
  .section-2-container-bottom-work-process-text-h3 {
    width: 100%;
  }
  .section-2-container-bottom-work-process-text-Ppack {
    height: 100%;
    row-gap: 20px;
  }
  .section-2-container-bottom-work-process-text-Ppack-p1 {
    height: 100%;
  }
  .section-2-container-bottom-work-process-text-Ppack-p2 {
    height: 100%;
  }
  .section-2-container-bottom-work-process-cards {
    width: 100%;
  }
  .section-2-container-bottom-work-process-cards-left {
    width: 100%;
  }
  .work-process-boxes-container {
    width: 100%;
  }
  .work-process-boxes-icon-div {
    width: 100%;
    height: 3rem;
  }
  .work-process-boxes-text-h3 {
    width: 100%;
  }
  .section-2-container-bottom-work-process-cards-right {
    width: 100%;
  }
  .work-process-boxes-icon-div:hover {
    -webkit-transform: scale(1.001, 1.05);
    -ms-transform: scale(1.001, 1.05);
    transform: scale(1.001, 1.05);
    -webkit-box-shadow: 1px 1px 2px #a53dff;
    box-shadow: 1px 1px 2px #a53dff;
  }
  .work-process-boxes-text {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .work-process-boxes-text-h3 {
    width: 100%;
    height: 100%;
  }
  .work-process-boxes-text-p {
    height: 100%;
    height: 100%;
  }
  /* !section # 3 */
  .section-3 {
    margin-top: 1700px;
  }
  .portfolio-container-bottom-boxe-container {
    -ms-grid-columns: (minmax(200px, 100%)) [1];
    grid-template-columns: repeat(1, minmax(200px, 100%));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .more-project-form {
    margin-bottom: 50px;
  }
  /* ! section # 5 */
  .section-5-container-sliders {
    grid-template-columns: repeat(auto-fit, 47%);
    width: 96%;
  }
  /* ! section # 6 */
  .section-6-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
    -moz-column-gap: 1.25rem;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    width: 96%;
    background-color: #ffffff;
    margin: 0 auto;
  }
  .section-6-container-left-div {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    row-gap: 24px;
  }
  .section-6-container-left-div-top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-6-container-left-div-top-h3 {
    font-size: 2.5rem;
  }
  .section-6-container-right-div {
    margin-top: 50px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 100%);
    text-align: center;
    place-items: center;
  }
  /* !section # 7 */
  .section-7-container-bottom {
    grid-template-columns: repeat(auto-fit, 45%);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* ! footer */
  .footer-container {
    position: static;
  }
  .footer-container-top {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 3rem;
  }
  .footer-container-top-left-contacts {
    margin: 0 auto;
  }
  .footer-soc-media {
    margin: 0 auto;
  }
  .footer-container-top-right {
    row-gap: 3rem;
  }
  .footer-container-bottom {
    position: static;
  }
  .footer-navigation-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .footer-navigation-container {
    margin: 3rem auto;
  }
  .footer-navigation-ul-items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navigation-a-items {
    font-size: 15px;
  }
  .footer-submit-button {
    width: 100%;
  }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (min-width: 769px) and (max-width: 1279px) {
  /* !header */
  .navigation-container {
    max-width: 491px;
    width: 100%;
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
  }
  .navigation-ul-items {
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
  }
  .navigation-li-items:hover {
    -webkit-transform: scale(1.07, 1.07);
    -ms-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07);
  }
  /* !main */
  .section-1-container {
    margin: 100px auto 0;
    -moz-column-gap: 5px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
  }
  .section-1-container-left-div-text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-1-container-left-div-text-h1 {
    height: 100%;
    font-size: 32px;
    line-height: 60px;
  }
  .section-1-container-left-div-text-p {
    height: 100%;
    font-size: 14px;
  }
  .section-1-container-left-div-boxcontainer {
    grid-template-columns: repeat(auto-fill, 100%);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
  }
  /* ! section # 2 */
  .section-2-container-top {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -moz-column-gap: 5px;
    -webkit-column-gap: 5px;
    column-gap: 5px;
  }
  .section-2-container-top-left {
    max-width: 536px;
    width: 100%;
  }
  .section-2-container-top-right {
    max-width: 648px;
    width: 100%;
    height: 504px;
  }
  .section-2-container-top-right-h3 {
    font-size: 30px;
  }
  .section-2-container-top-right-middle {
    height: 200px;
    font-size: 16px;
  }
  .section-2-container-top-right-middle-p1 {
    height: 100%;
  }
  .section-2-container-top-right-middle-p2 {
    height: 100%;
  }
  .section-2-container-top-right-bottom {
    margin: 0 auto 12px;
  }
  /* ! section #2 bottom */
  .section-2-container-bottom {
    height: 100%;
  }
  .section-2-container-bottom-work-process {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 60px;
    margin: 150px auto;
    text-align: center;
  }
  .section-2-container-bottom-work-process-text {
    width: 100%;
    row-gap: 20px;
  }
  .section-2-container-bottom-work-process-text-h3 {
    width: 100%;
  }
  .section-2-container-bottom-work-process-text-Ppack {
    height: 100%;
    row-gap: 20px;
  }
  .section-2-container-bottom-work-process-text-Ppack-p1 {
    height: 100%;
  }
  .section-2-container-bottom-work-process-text-Ppack-p2 {
    height: 100%;
  }
  .section-2-container-bottom-work-process-cards {
    width: 100%;
  }
  .section-2-container-bottom-work-process-cards-left {
    width: 100%;
  }
  .work-process-boxes-container {
    width: 100%;
  }
  .work-process-boxes-icon-div {
    width: 100%;
    height: 48px;
  }
  .work-process-boxes-text-h3 {
    width: 100%;
  }
  .section-2-container-bottom-work-process-cards-right {
    width: 100%;
  }
  .work-process-boxes-icon-div:hover {
    -webkit-transform: scale(1.001, 1.05);
    -ms-transform: scale(1.001, 1.05);
    transform: scale(1.001, 1.05);
    -webkit-box-shadow: 1px 1px 2px #a53dff;
    box-shadow: 1px 1px 2px #a53dff;
  }
  .work-process-boxes-text {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .work-process-boxes-text-h3 {
    width: 100%;
    height: 100%;
  }
  .work-process-boxes-text-p {
    height: 100%;
    height: 100%;
  }
  /* ! section # 3 */
  .section-3 {
    margin-top: 1700px;
  }
  /* ! section # 5 */
  .section-5-container-sliders {
    grid-template-columns: repeat(auto-fit, 47%);
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* ! section # 6 */
  .section-6-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-column-gap: 1.25rem;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    width: 96%;
    background-color: #ffff;
    margin: 0 auto;
    row-gap: 2.5rem;
  }
  .section-6-container-left-div {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .section-6-container-left-div-top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-6-container-right-div {
    margin-top: 50px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 100%);
    text-align: center;
  }
  /* ! section # 7 */
  .section-7-container-bottom {
    grid-template-columns: repeat(auto-fit, 30%);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* ! footer */
  .footer-container-top {
    margin: 0 auto;
    -moz-column-gap: 2.5rem;
    -webkit-column-gap: 2.5rem;
    column-gap: 2.5rem;
  }
  .footer-container-top-left {
    min-height: 620px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer-container-top-right {
    min-height: 620px;
  }
  .footer-navigation-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 3rem;
    margin: 8rem auto;
  }
}
