@media (min-width: 481px) and (max-width: 768px)
{
    
/* !header */
    .header-container{
        max-width: 768px;
        height: 100%;
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;
        margin-bottom: 10px;
        position: relative;
    }
    .logo-div{
        max-width: 130px;
        height: 35px;
    }
    .navigation-container{
        display: none;
    }
    .navigation-container.navigation-for-burger{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        height: 100%;
    }
    .navigation-ul-items{
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
    }
    .navigation-li-items:hover{
        box-shadow: 5px 10px 5px #A53DFF;
        transform: scale(1.001,1.2);
    }
    .navigation-contact-button:hover{
        transform: scale(1.01,1.05);
    }
    .burgerbar-menu{
        width: 35px;
        height: 35px;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4px;
        background-color: #A53DFF;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    .burgerbar-menu-lines{
        width: 50%;
        height: 2px;
        background-color: #FFFFFF;
    }
/* !main */
    .section-1-container{
    max-width: 768px;
    width: 100%;
    height: 100%;
    margin: 50px auto 100px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    }
    .section-1-container-left-div{
        row-gap: 24px;
    }
    .section-1-container-left-div-text-h2{
        height: 100%;
        font-size: 38px;
        line-height: 50px;
    }
    .section-1-container-left-div-text-p{
        height: 100%;
        font-size: 16px;
        line-height: 16px;
    }
    .section-1-container-left-div-text-button{
        width: 100%;
        height: 40px;
        font-size: 18px;
    }
    .section-1-container-left-div-text-button:hover{
        transform: scale(1.07,1.07);
    }
    .section-1-container-left-div-boxcontainer{
        grid-template-columns: repeat(auto-fill, 100%);
        grid-template-rows: 1fr;
        row-gap: 20px;
        /* background-color: green; */
    }
    .section-1-container-left-div-box-h3{
        font-size: 18px;
    }
    .section-1-container-left-div-box-p{
        font-size: 14px;
    }
/* ! section # 2 */
    .section-2-container-top{
        justify-content: space-between;
        -moz-column-gap: 10px;
             column-gap: 10px;
    }
    .section-2-container-top-left{
        width: 100%;
        height: 100%;
    }
    .section-2-container-top-left-img-div{
        height: 95%;
    }
    .section-2-container-top-right{
        width: 100%;
        height: 100%;
    }
    .section-2-container-top-right-h3{
        height: 100%;
    }
    .section-2-container-top-right-middle{
        height: 100%;
        font-size: 16px;
    }
    .section-2-container-top-right-middle-p1{
        height: 100%;
    }
    .section-2-container-top-right-middle-p2{
        height: 100%;
    }
    .section-2-container-top-right-bottom{
        flex-direction: column;
        row-gap: 16px;
        height: 96px;
        width: 100%;
    }
    .section-2-container-top-right-bottom-myproject{
        width: 100%;
        height: 40px;
    }
    .section-2-container-top-right-bottom-myproject:hover{
        transform: scale(1,1);
    }
    .section-2-container-top-right-bottom-download-container{
        width: 100%;
        height: 40px;
    }
    .section-2-container-top-right-bottom-download{
        width: 100%;
    }
    .section-2-container-top-right-bottom-download-container:hover{
        transform: scale(1,1);
    }
    /* ! section # 2 bottom */
    .section-2-container-bottom{
        height: 100%;
    }
    .section-2-container-bottom-work-process{
        height: 100%;
        flex-direction: column;
        row-gap: 60px;
        margin: 150px auto;
        text-align: center;
    }
    .section-2-container-bottom-work-process-text{
        width: 100%;
        row-gap: 20px;
    }
    .section-2-container-bottom-work-process-text-h3{
        width: 100%;
    }
    .section-2-container-bottom-work-process-text-Ppack{
        height: 100%;
        row-gap: 20px;
    }
    .section-2-container-bottom-work-process-text-Ppack-p1{
        height: 100%;
    }
    .section-2-container-bottom-work-process-text-Ppack-p2{
        height: 100%;
    }
    .section-2-container-bottom-work-process-cards{
        width: 100%;
    }
    .section-2-container-bottom-work-process-cards-left{
        width: 100%;
    }
    .work-process-boxes-container{
        width: 100%;
    }
    .work-process-boxes-icon-div{
        width: 100%;
        height: 100%;
    }
    .work-process-boxes-text-h3{
        width: 100%;
    }
    .section-2-container-bottom-work-process-cards-right{
        width: 100%;
    }
    .work-process-boxes-icon-div:hover{
        transform: scale(1.001,1.05);
        box-shadow: 1px 1px 2px #A53DFF;
    }
    .work-process-boxes-text{
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .work-process-boxes-text-h3{
        width: 100%;
        height: 100%;
    }
    .work-process-boxes-text-p{
        height: 100%;
        height: 100%;
    }
    /* !section # 3 */
    .section-3{
        margin-top: 1700px;
    }
    .portfolio-container-bottom-boxe-container{
        grid-template-columns: repeat(1,minmax(200px,100%));
        justify-content: center;
    }
    .more-project-form{
        margin-bottom: 50px;
    }
    /* ! section # 5 */
    .section-5-container-sliders{
        grid-template-columns: repeat(auto-fit,47%);
        width: 96%;
    }
    /* ! section # 6 */
    .section-6-container{
        flex-direction: column;
        -moz-column-gap: 1.25rem;
             column-gap: 1.25rem;
        width: 100%;
        margin: 0 auto;
    }
    .section-6-container-left-div{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .section-6-container-left-div-top{
        align-items: center;
    }
    .section-6-container-right-div{
        margin-top: 50px;
        width: 100%;
        grid-template-columns: repeat(auto-fit,100%);
        text-align: center;
    }
}