@media (min-width: 1px) and (max-width: 480px)
{
    
/* !header */
    .header-container{
        width: 96%;
    }
    .logo-div{
        max-width: 130px;
        height: 35px;
    }
    .navigation-container{
        display: none;
    }
    .burgerbar-menu{
        width: 35px;
        height: 35px;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4px;
        background-color: #A53DFF;
    }
    .burgerbar-menu-lines{
        width: 50%;
        height: 2px;
        background-color: #FFFFFF;
    }
/* ! section #1 */
.section-1-container{
    margin: 50px auto 100px;
    max-width: 480px;
    height: 100%;
    flex-wrap: wrap-reverse;
}
.section-1-container-left-div{
    row-gap: 24px;
}
.section-1-container-left-div-text-h2{
    max-width: 480px;
    height: 100%;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.section-1-container-left-div-text-p{
    height: 100%;
    text-align: center;
}
.section-1-container-left-div-text-button{
    width: 100%;
    height: 50px;
}
.section-1-container-left-div-text-button:hover{
    transform: scale(1,1);
}
.section-1-container-left-div-boxcontainer{
    grid-template-columns: repeat(auto-fill, 100%);
    grid-template-rows: 1fr;
    row-gap: 20px;
}
.section-1-container-right-div{
    max-width: 480px;
}
/* ! section # 2 */
.section-2-container{
    position: static;
}
.section-2-container-top{
    position: static;
    flex-direction: column;
    height: 100%;
    transform: translateX(0);
    row-gap: 50px;
}
.section-2-container-top-left{
    width: 100%;
    height: 100%;
}
.section-2-container-top-right{
    width: 100%;
    height: 100%;
    text-align: center;
    row-gap: 25px;
}
.section-2-container-top-right-h3{
    height: 100%;
    font-size: 36px;
}
.section-2-container-top-right-middle{
    height: 100%;
    font-size: 16px;
    row-gap: 25px;
}
.section-2-container-top-right-middle-p1{
    height: 100%;
}
.section-2-container-top-right-middle-p2{
    height: 100%;
}
.section-2-container-top-right-bottom{
    flex-direction: column;
    row-gap: 16px;
    height: 100%;
    width: 100%;
}
.section-2-container-top-right-bottom-myproject{
    width: 100%;
    height: 40px;
}
.section-2-container-top-right-bottom-download-container{
    width: 100%;
    height: 40px;
}
.section-2-container-top-right-bottom-download{
    width: 100%;
}
.section-2-container-top-right-bottom-myproject:hover{
    transform: scale(1,1);
}
.section-2-container-top-right-bottom-download-container:hover{
    transform: scale(1,1);
}
/* ! section # 2 bottom */
.section-2-container-bottom{
    position: static;
    height: 100%;
}
.section-2-container-bottom-work-process{
    margin: 50px 0 0;
    flex-wrap: wrap;
    row-gap: 50px;
    width: 100%;
    height: 100%;
}
.section-2-container-bottom-work-process-text{
    width: 100%;
    height: 100%;
    text-align: center;
    row-gap: 30px;
}
.section-2-container-bottom-work-process-text-h3{
    width: 100%;
    height: 100%;
    font-size: 36px;
}
.section-2-container-bottom-work-process-text-Ppack{
    width: 100%;
    height: 100%;
    row-gap: 30px;
}
.section-2-container-bottom-work-process-text-Ppack-p1{
    width: 100%;
    height: 100%;
}
.section-2-container-bottom-work-process-text-Ppack-p2{
    height: 100%;
}
.section-2-container-bottom-work-process-cards{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.work-process-boxes-text-h3{
    width: 100%;
    font-size: 18px;
}
/* ! section # 3 */
.section-3{
    margin-top: 0px;
}
.portfolio-container-bottom-boxe-container{
    grid-template-columns: repeat(1,minmax(200px,100%));
    justify-content: center;
}

}